# Dependencies
node_modules/

# Environment variables
.env
backend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store

# Build/test output
dist/
build/
coverage/
.env
